{% extends "layout.html" %}
{% block layout %}
<div class="main ct_main">
	<ul class="list_group">
		<li class="list_group_item">
			<div class="group_top"> <b>Change Your Photo</b>
				<span class="icon_sm icon_sm_arr_d"></span>
			</div>
			<div class="inner_group">
				<ul class="list_group select">
					<li class="list_group_item"> <b>Dresses</b>
						<span class="icon_sm icon_sm_check_pink"></span>
					</li>
					<li class="list_group_item">
						<b>Tops</b>
						<span class="icon_sm icon_sm_check_pink"></span>
					</li>
					<li class="list_group_item">
						<b>Outerwear</b>
						<span class="icon_sm icon_sm_check_pink"></span>
					</li>
					<li class="list_group_item">
						<b>Bottoms</b>
						<span class="icon_sm icon_sm_check_pink"></span>
					</li>
					<li class="list_group_item">
						<b>Bags</b>
						<span class="icon_sm icon_sm_check_pink"></span>
					</li>
					<li class="list_group_item">
						<b>Shoes</b>
						<span class="icon_sm icon_sm_check_pink"></span>
					</li>
					<li class="list_group_item">
						<b>Plus Size</b>
						<span class="icon_sm icon_sm_check_pink"></span>
					</li>
					<li class="list_group_item">
						<b>Jewelry</b>
						<span class="icon_sm icon_sm_check_pink"></span>
					</li>
				</ul>
			</div>
		</li>
	</ul>
	<div class="order_item_box">
		<h3 class="nc_title">
			Order No:
			<span class="num_font">121545</span>
			<a class="btn_order">Shipping</a>
		</h3>
		<div class="list_group">
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product1.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color: <strong>Black</strong>
								</small>
								<small>
									Size: <strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product2.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product3.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product4.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="list_group_item">
				<b>Order Date:
					<span class="num_font">Aug 04, 2015</span></b> 
				<span class="total">
					Total:
					<big class="num_font">US$23.23</big>
				</span>
			</div>
			<a href="Track.html" class="list_group_item">
				<b>Order Tracking</b>
				<span class="icon_sm icon_sm_arr_r"></span>
			</a>
			<a href="order_detail.html" class="list_group_item">
				<b>View Details</b>
				<span class="icon_sm icon_sm_arr_r"></span>
			</a>
		</div>
		<h3 class="nc_title">
			Order No:
			<span class="num_font">121545</span>
			<a class="btn_order">Shipping</a>
		</h3>
		<div class="list_group">
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product1.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product2.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product3.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product4.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="list_group_item">
				<b>Order Date:
					<span class="num_font">Aug 04, 2015</span></b> 
				<span class="total">
					Total:
					<big class="num_font">US$23.23</big>
				</span>
			</div>
			<a href="Track.html" class="list_group_item">
				<b>Order Tracking</b>
				<span class="icon_sm icon_sm_arr_r"></span>
			</a>
			<a href="order_detail.html" class="list_group_item">
				<b>View Details</b>
				<span class="icon_sm icon_sm_arr_r"></span>
			</a>
		</div>
		<h3 class="nc_title">
			Order No:
			<span class="num_font">121545</span>
			<a class="btn_order">Shipping</a>
		</h3>
		<div class="list_group">
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product1.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product2.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product3.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="order_item list_group_item">
				<dl>
					<dt>
						<span>
							<img src="images/product/product4.jpg" class="img_responsive"></span>
					</dt>
					<dd>
						<div class="item_text">
							<p>Casual Thick Warm Belt Slim Hood Long Down Coatitem_size</p>
							<span class="item_size">
								<small>
									Color:
									<strong>Black</strong>
								</small>
								<small>
									Size:
									<strong>UK 18</strong>
								</small>
							</span>
							<span class="item_size">
								<small>
									Qty:
									<strong>1</strong>
								</small>
							</span>
							<strong class="pri">US$19.9</strong>
						</div>
					</dd>
				</dl>
			</div>
			<div class="list_group_item">
				<b>
					Order Date:
					<span class="num_font">Aug 04, 2015</span>
				</b>
				<span class="total">
					Total:
					<big class="num_font">US$23.23</big>
				</span>
			</div>
			<a href="Track.html" class="list_group_item">
				<b>Order Tracking</b>
				<span class="icon_sm icon_sm_arr_r"></span>
			</a>
			<a href="order_detail.html" class="list_group_item">
				<b>View Details</b>
				<span class="icon_sm icon_sm_arr_r"></span>
			</a>
		</div>
	</div>
</div>
{% endblock layout %}